<!-- START JUMBOTRON -->

<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <a href="">Tables</a>
        </li>
        <li>
          <a href="" class="active">Company</a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
      
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <!-- START PANEL -->
  <div class="panel panel-transparent" ng-controller="TableWithDynamicRowsCtrl">
    <div class="panel-heading">
      <div class="panel-title">Company</div>
      <div class="pull-right">
        <div class="col-xs-12">
          <a   ui-sref="app.forms.elements" id="show-modal" class="btn btn-primary btn-cons">
          <i class="fa fa-plus"></i>
          Add Company</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <table class="table table-hover demo-table-dynamic companytable" id="tableWithDynamicRows" ui-jq="dataTable" ui-options="options">
        <thead>
          <tr>
            <th>Company Name</th>
            <th class="text-center">Country</th>
            <th class="text-center">City</th>
            <th class="text-center">Branch Name</th>
            <th class="text-center">Reg. Date</th>
            <th class="text-center"> logo</th>
            <th class="text-center"> Action </th>
            <th class="text-center"> Add User </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="v-align-middle"><p>Company ABC</p></td>
            <td class="v-align-middle text-center"><p>Country ABC</p></td>
            <td class="v-align-middle text-center"><p>City ABC</p></td>
            <td class="v-align-middle text-center"><p>Branch ABC</p></td>
            <td class="v-align-middle text-center"><p>8/8/2016</p></td>
            <td class="v-align-middle text-center"><p>
                <img src="pages/img/Lobby.png" width="40"  alt="#" />
              </p></td>
            <td class="v-align-middle text-center"><div class="btn-group">
                <div class="actionbtn">
                  <button class="btn btn-success" type="button">
                  <i class="fa fa-pencil"></i>
                  </button>
                  <button class="btn btn-danger" type="button">
                  <i class="fa fa-trash-o"></i>
                  </button>
                </div>
              </div></td>
            <td class="v-align-middle text-center"><button id="show-modal" class="btn btn-primary btn-sm" ng-click="showModal()">
              <i class="fa fa-plus"></i>
              Add User </button></td>
          </tr>
          <tr>
            <td class="v-align-middle"><p>Company ABC</p></td>
            <td class="v-align-middle text-center"><p>Country ABC</p></td>
            <td class="v-align-middle text-center"><p>City ABC</p></td>
            <td class="v-align-middle text-center"><p>Branch ABC</p></td>
            <td class="v-align-middle text-center"><p>8/8/2016</p></td>
            <td class="v-align-middle text-center"><p>
                <img src="pages/img/Lobby.png" width="40"  alt="#" />
              </p></td>
            <td class="v-align-middle text-center"><div class="btn-group">
                <div class="actionbtn">
                  <button class="btn btn-success" type="button">
                  <i class="fa fa-pencil"></i>
                  </button>
                  <button class="btn btn-danger" type="button">
                  <i class="fa fa-trash-o"></i>
                  </button>
                </div>
              </div></td>
            <td class="v-align-middle text-center"><button id="show-modal" class="btn btn-primary btn-sm" ng-click="showModal()">
              <i class="fa fa-plus"></i>
              Add User </button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->
<!-- START CONTAINER FLUID -->

<!-- END CONTAINER FLUID -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg bg-white">
<!-- START PANEL -->

<!-- END CONTAINER FLUID -->
<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="addNewAppModal" tabindex="-1" role="dialog" aria-labelledby="addNewAppModal" aria-hidden="true" ng-controller="TableWithDynamicRowsCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header clearfix ">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <i class="pg-close fs-14"></i>
        </button>
        <h4 class="p-b-5"><span class="semi-bold">New</span> App</h4>
      </div>
      <div class="modal-body">
        <p class="small-text">Create a new app using this form, make sure you fill them all</p>
        <form role="form">
          <div class="row">
            <div class="col-sm-12">
              <div pg-form-group class="form-group form-group-default">
                <label>name</label>
                <input id="appName" type="text" class="form-control" placeholder="Name of your app">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div pg-form-group class="form-group form-group-default">
                <label>Description</label>
                <input id="appDescription" type="text" class="form-control" placeholder="Tell us more about it">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div pg-form-group class="form-group form-group-default">
                <label>Price</label>
                <input id="appPrice" type="text" class="form-control" placeholder="your price">
              </div>
            </div>
            <div class="col-sm-6">
              <div pg-form-group class="form-group form-group-default">
                <label>Notes</label>
                <input id="appNotes" type="text" class="form-control" placeholder="a note">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="add-app" type="button" class="btn btn-primary  btn-cons" ng-click="addApp()">Add</button>
        <button type="button" class="btn btn-cons">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->